In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('.//ebay_womens_perfume.csv')

In [6]:
df

,brand,title,type,price,priceWithCurrency,available,availableText,sold,lastUpdated,itemLocation
0,Carolina Herrera,Good Girl by Carolina Herrera 2.7 oz Eau De Pa...,Eau de Parfum,43.99,US $43.99/ea,2.0,2 available / 393 sold,393.0,"May 23, 2024 10:43:50 PDT","Thomasville, Alabama, United States"
1,As Shown,Parfums de Marly Delina La Rosee Eau de Parfum...,Eau de Parfum,79.99,US $79.99,5.0,5 available / 40 sold,40.0,"May 24, 2024 00:15:48 PDT","New Jersey, Hong Kong"
2,PRADA,PRADA Paradoxe by Prada EDP 3.0oz/90ml Spray P...,Eau de Parfum,59.99,US $59.99,10.0,More than 10 available / 35 sold,35.0,"May 14, 2024 20:54:25 PDT","Orange, New Jersey, United States"
3,As Show,J'adore Parfum D'eau by Christian 3.4 oz EDP F...,Eau de Parfum,59.99,US $59.99/ea,10.0,More than 10 available / 9 sold,9.0,"May 23, 2024 01:23:05 PDT","USA, New Jersey, Hong Kong"
4,Khadlaj,Shiyaaka for Men EDP Spray 100ML (3.4 FL.OZ) B...,Eau de Parfum,29.99,US $29.99/ea,10.0,More than 10 available,NaN,NaN,"Little Ferry, New Jersey, United States"
...,...,...,...,...,...,...,...,...,...,...
995,Avon,Avon Far Away Infinity Eau de Parfum 1.7 fl. o...,Eau de Parfum,13.89,US $13.89,10.0,More than 10 available / 157 sold,157.0,"May 16, 2024 22:35:29 PDT","West Palm Beach, Florida, United States"
996,Mancera,Roses Greedy by Mancera perfume for unisex EDP...,Eau de Parfum,57.85,US $57.85/ea,33.0,33 available / 58 sold,58.0,"May 24, 2024 08:03:11 PDT","Dallas, Texas, United States"
997,Unbranded,"Sweet Tooth Eau de Parfum, Perfume for Women, ...",1,30.96,US $30.96,2.0,2 available / 3 sold,3.0,"May 17, 2024 23:16:41 PDT","New York, New York, United States"
998,Juliette Has A Gun,MMMM BY Juliette Has A Gun perfume for her EDP...,Eau de Perfume,53.99,US $53.99/ea,3.0,3 available / 117 sold,117.0,"May 13, 2024 22:19:34 PDT","Dallas, Texas, United States"
999,Paris Hilton,PARIS HILTON ELECTRIFY for Women Cologne 3.4 o...,Eau de Parfum,14.99,US $14.99/ea,4.0,4 available / 51 sold,51.0,"May 22, 2024 05:44:45 PDT","TX, United States"

In [7]:
df.isnull()

,brand,title,type,price,priceWithCurrency,available,availableText,sold,lastUpdated,itemLocation
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False,False,False
996,False,False,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False,False,False

In [12]:
df.dropna(axis=1)

,title,price,priceWithCurrency,itemLocation
0,Good Girl by Carolina Herrera 2.7 oz Eau De Pa...,43.99,US $43.99/ea,"Thomasville, Alabama, United States"
1,Parfums de Marly Delina La Rosee Eau de Parfum...,79.99,US $79.99,"New Jersey, Hong Kong"
2,PRADA Paradoxe by Prada EDP 3.0oz/90ml Spray P...,59.99,US $59.99,"Orange, New Jersey, United States"
3,J'adore Parfum D'eau by Christian 3.4 oz EDP F...,59.99,US $59.99/ea,"USA, New Jersey, Hong Kong"
4,Shiyaaka for Men EDP Spray 100ML (3.4 FL.OZ) B...,29.99,US $29.99/ea,"Little Ferry, New Jersey, United States"
...,...,...,...,...
995,Avon Far Away Infinity Eau de Parfum 1.7 fl. o...,13.89,US $13.89,"West Palm Beach, Florida, United States"
996,Roses Greedy by Mancera perfume for unisex EDP...,57.85,US $57.85/ea,"Dallas, Texas, United States"
997,"Sweet Tooth Eau de Parfum, Perfume for Women, ...",30.96,US $30.96,"New York, New York, United States"
998,MMMM BY Juliette Has A Gun perfume for her EDP...,53.99,US $53.99/ea,"Dallas, Texas, United States"
999,PARIS HILTON ELECTRIFY for Women Cologne 3.4 o...,14.99,US $14.99/ea,"TX, United States"

In [15]:
df.dropna(how ='all', axis=0)# what in () can be subtitued

,brand,title,type,price,priceWithCurrency,available,availableText,sold,lastUpdated,itemLocation
0,Carolina Herrera,Good Girl by Carolina Herrera 2.7 oz Eau De Pa...,Eau de Parfum,43.99,US $43.99/ea,2.0,2 available / 393 sold,393.0,"May 23, 2024 10:43:50 PDT","Thomasville, Alabama, United States"
1,As Shown,Parfums de Marly Delina La Rosee Eau de Parfum...,Eau de Parfum,79.99,US $79.99,5.0,5 available / 40 sold,40.0,"May 24, 2024 00:15:48 PDT","New Jersey, Hong Kong"
2,PRADA,PRADA Paradoxe by Prada EDP 3.0oz/90ml Spray P...,Eau de Parfum,59.99,US $59.99,10.0,More than 10 available / 35 sold,35.0,"May 14, 2024 20:54:25 PDT","Orange, New Jersey, United States"
3,As Show,J'adore Parfum D'eau by Christian 3.4 oz EDP F...,Eau de Parfum,59.99,US $59.99/ea,10.0,More than 10 available / 9 sold,9.0,"May 23, 2024 01:23:05 PDT","USA, New Jersey, Hong Kong"
4,Khadlaj,Shiyaaka for Men EDP Spray 100ML (3.4 FL.OZ) B...,Eau de Parfum,29.99,US $29.99/ea,10.0,More than 10 available,NaN,NaN,"Little Ferry, New Jersey, United States"
...,...,...,...,...,...,...,...,...,...,...
995,Avon,Avon Far Away Infinity Eau de Parfum 1.7 fl. o...,Eau de Parfum,13.89,US $13.89,10.0,More than 10 available / 157 sold,157.0,"May 16, 2024 22:35:29 PDT","West Palm Beach, Florida, United States"
996,Mancera,Roses Greedy by Mancera perfume for unisex EDP...,Eau de Parfum,57.85,US $57.85/ea,33.0,33 available / 58 sold,58.0,"May 24, 2024 08:03:11 PDT","Dallas, Texas, United States"
997,Unbranded,"Sweet Tooth Eau de Parfum, Perfume for Women, ...",1,30.96,US $30.96,2.0,2 available / 3 sold,3.0,"May 17, 2024 23:16:41 PDT","New York, New York, United States"
998,Juliette Has A Gun,MMMM BY Juliette Has A Gun perfume for her EDP...,Eau de Perfume,53.99,US $53.99/ea,3.0,3 available / 117 sold,117.0,"May 13, 2024 22:19:34 PDT","Dallas, Texas, United States"
999,Paris Hilton,PARIS HILTON ELECTRIFY for Women Cologne 3.4 o...,Eau de Parfum,14.99,US $14.99/ea,4.0,4 available / 51 sold,51.0,"May 22, 2024 05:44:45 PDT","TX, United States"

In [16]:
df.dropna(thresh=7)

,brand,title,type,price,priceWithCurrency,available,availableText,sold,lastUpdated,itemLocation
0,Carolina Herrera,Good Girl by Carolina Herrera 2.7 oz Eau De Pa...,Eau de Parfum,43.99,US $43.99/ea,2.0,2 available / 393 sold,393.0,"May 23, 2024 10:43:50 PDT","Thomasville, Alabama, United States"
1,As Shown,Parfums de Marly Delina La Rosee Eau de Parfum...,Eau de Parfum,79.99,US $79.99,5.0,5 available / 40 sold,40.0,"May 24, 2024 00:15:48 PDT","New Jersey, Hong Kong"
2,PRADA,PRADA Paradoxe by Prada EDP 3.0oz/90ml Spray P...,Eau de Parfum,59.99,US $59.99,10.0,More than 10 available / 35 sold,35.0,"May 14, 2024 20:54:25 PDT","Orange, New Jersey, United States"
3,As Show,J'adore Parfum D'eau by Christian 3.4 oz EDP F...,Eau de Parfum,59.99,US $59.99/ea,10.0,More than 10 available / 9 sold,9.0,"May 23, 2024 01:23:05 PDT","USA, New Jersey, Hong Kong"
4,Khadlaj,Shiyaaka for Men EDP Spray 100ML (3.4 FL.OZ) B...,Eau de Parfum,29.99,US $29.99/ea,10.0,More than 10 available,NaN,NaN,"Little Ferry, New Jersey, United States"
...,...,...,...,...,...,...,...,...,...,...
995,Avon,Avon Far Away Infinity Eau de Parfum 1.7 fl. o...,Eau de Parfum,13.89,US $13.89,10.0,More than 10 available / 157 sold,157.0,"May 16, 2024 22:35:29 PDT","West Palm Beach, Florida, United States"
996,Mancera,Roses Greedy by Mancera perfume for unisex EDP...,Eau de Parfum,57.85,US $57.85/ea,33.0,33 available / 58 sold,58.0,"May 24, 2024 08:03:11 PDT","Dallas, Texas, United States"
997,Unbranded,"Sweet Tooth Eau de Parfum, Perfume for Women, ...",1,30.96,US $30.96,2.0,2 available / 3 sold,3.0,"May 17, 2024 23:16:41 PDT","New York, New York, United States"
998,Juliette Has A Gun,MMMM BY Juliette Has A Gun perfume for her EDP...,Eau de Perfume,53.99,US $53.99/ea,3.0,3 available / 117 sold,117.0,"May 13, 2024 22:19:34 PDT","Dallas, Texas, United States"
999,Paris Hilton,PARIS HILTON ELECTRIFY for Women Cologne 3.4 o...,Eau de Parfum,14.99,US $14.99/ea,4.0,4 available / 51 sold,51.0,"May 22, 2024 05:44:45 PDT","TX, United States"

In [17]:
df.fillna(0)# () can be rplce 'empty', 'babo'

,brand,title,type,price,priceWithCurrency,available,availableText,sold,lastUpdated,itemLocation
0,Carolina Herrera,Good Girl by Carolina Herrera 2.7 oz Eau De Pa...,Eau de Parfum,43.99,US $43.99/ea,2.0,2 available / 393 sold,393.0,"May 23, 2024 10:43:50 PDT","Thomasville, Alabama, United States"
1,As Shown,Parfums de Marly Delina La Rosee Eau de Parfum...,Eau de Parfum,79.99,US $79.99,5.0,5 available / 40 sold,40.0,"May 24, 2024 00:15:48 PDT","New Jersey, Hong Kong"
2,PRADA,PRADA Paradoxe by Prada EDP 3.0oz/90ml Spray P...,Eau de Parfum,59.99,US $59.99,10.0,More than 10 available / 35 sold,35.0,"May 14, 2024 20:54:25 PDT","Orange, New Jersey, United States"
3,As Show,J'adore Parfum D'eau by Christian 3.4 oz EDP F...,Eau de Parfum,59.99,US $59.99/ea,10.0,More than 10 available / 9 sold,9.0,"May 23, 2024 01:23:05 PDT","USA, New Jersey, Hong Kong"
4,Khadlaj,Shiyaaka for Men EDP Spray 100ML (3.4 FL.OZ) B...,Eau de Parfum,29.99,US $29.99/ea,10.0,More than 10 available,0.0,0,"Little Ferry, New Jersey, United States"
...,...,...,...,...,...,...,...,...,...,...
995,Avon,Avon Far Away Infinity Eau de Parfum 1.7 fl. o...,Eau de Parfum,13.89,US $13.89,10.0,More than 10 available / 157 sold,157.0,"May 16, 2024 22:35:29 PDT","West Palm Beach, Florida, United States"
996,Mancera,Roses Greedy by Mancera perfume for unisex EDP...,Eau de Parfum,57.85,US $57.85/ea,33.0,33 available / 58 sold,58.0,"May 24, 2024 08:03:11 PDT","Dallas, Texas, United States"
997,Unbranded,"Sweet Tooth Eau de Parfum, Perfume for Women, ...",1,30.96,US $30.96,2.0,2 available / 3 sold,3.0,"May 17, 2024 23:16:41 PDT","New York, New York, United States"
998,Juliette Has A Gun,MMMM BY Juliette Has A Gun perfume for her EDP...,Eau de Perfume,53.99,US $53.99/ea,3.0,3 available / 117 sold,117.0,"May 13, 2024 22:19:34 PDT","Dallas, Texas, United States"
999,Paris Hilton,PARIS HILTON ELECTRIFY for Women Cologne 3.4 o...,Eau de Parfum,14.99,US $14.99/ea,4.0,4 available / 51 sold,51.0,"May 22, 2024 05:44:45 PDT","TX, United States"

In [23]:
df.fillna(method='ffill')# ()'bfill

,brand,title,type,price,priceWithCurrency,available,availableText,sold,lastUpdated,itemLocation
0,Carolina Herrera,Good Girl by Carolina Herrera 2.7 oz Eau De Pa...,Eau de Parfum,43.99,US $43.99/ea,2.0,2 available / 393 sold,393.0,"May 23, 2024 10:43:50 PDT","Thomasville, Alabama, United States"
1,As Shown,Parfums de Marly Delina La Rosee Eau de Parfum...,Eau de Parfum,79.99,US $79.99,5.0,5 available / 40 sold,40.0,"May 24, 2024 00:15:48 PDT","New Jersey, Hong Kong"
2,PRADA,PRADA Paradoxe by Prada EDP 3.0oz/90ml Spray P...,Eau de Parfum,59.99,US $59.99,10.0,More than 10 available / 35 sold,35.0,"May 14, 2024 20:54:25 PDT","Orange, New Jersey, United States"
3,As Show,J'adore Parfum D'eau by Christian 3.4 oz EDP F...,Eau de Parfum,59.99,US $59.99/ea,10.0,More than 10 available / 9 sold,9.0,"May 23, 2024 01:23:05 PDT","USA, New Jersey, Hong Kong"
4,Khadlaj,Shiyaaka for Men EDP Spray 100ML (3.4 FL.OZ) B...,Eau de Parfum,29.99,US $29.99/ea,10.0,More than 10 available,9.0,"May 23, 2024 01:23:05 PDT","Little Ferry, New Jersey, United States"
...,...,...,...,...,...,...,...,...,...,...
995,Avon,Avon Far Away Infinity Eau de Parfum 1.7 fl. o...,Eau de Parfum,13.89,US $13.89,10.0,More than 10 available / 157 sold,157.0,"May 16, 2024 22:35:29 PDT","West Palm Beach, Florida, United States"
996,Mancera,Roses Greedy by Mancera perfume for unisex EDP...,Eau de Parfum,57.85,US $57.85/ea,33.0,33 available / 58 sold,58.0,"May 24, 2024 08:03:11 PDT","Dallas, Texas, United States"
997,Unbranded,"Sweet Tooth Eau de Parfum, Perfume for Women, ...",1,30.96,US $30.96,2.0,2 available / 3 sold,3.0,"May 17, 2024 23:16:41 PDT","New York, New York, United States"
998,Juliette Has A Gun,MMMM BY Juliette Has A Gun perfume for her EDP...,Eau de Perfume,53.99,US $53.99/ea,3.0,3 available / 117 sold,117.0,"May 13, 2024 22:19:34 PDT","Dallas, Texas, United States"
999,Paris Hilton,PARIS HILTON ELECTRIFY for Women Cologne 3.4 o...,Eau de Parfum,14.99,US $14.99/ea,4.0,4 available / 51 sold,51.0,"May 22, 2024 05:44:45 PDT","TX, United States"

In [20]:
df['sold'].fillna(df['sold'].min())

0      393.0
1       40.0
2       35.0
3        9.0
4        1.0
       ...
995    157.0
996     58.0
997      3.0
998    117.0
999     51.0
Name: sold, Length: 1000, dtype: float64

In [24]:
df.duplicated().value_counts()

False    999
True       1
Name: count, dtype: int64

In [25]:
df.duplicated(['title', 'type']).value_counts()

False    975
True      25
Name: count, dtype: int64

In [26]:
df[df.duplicated()]

,brand,title,type,price,priceWithCurrency,available,availableText,sold,lastUpdated,itemLocation
662,FLOWER,12 Piece Womanâ€™s Perfume Lot: Assorted scents ...,Perfume,48.0,US $48.00,4.0,4 available / 1 sold,1.0,NaN,"Webster, Florida, United States"

In [28]:
df[df['brand']=='FLOWER']

,brand,title,type,price,priceWithCurrency,available,availableText,sold,lastUpdated,itemLocation
344,FLOWER,12 Piece Womanâ€™s Perfume Lot: Assorted scents ...,Perfume,48.0,US $48.00,4.0,4 available / 1 sold,1.0,NaN,"Webster, Florida, United States"
662,FLOWER,12 Piece Womanâ€™s Perfume Lot: Assorted scents ...,Perfume,48.0,US $48.00,4.0,4 available / 1 sold,1.0,NaN,"Webster, Florida, United States"

In [29]:
df.drop_duplicates()

,brand,title,type,price,priceWithCurrency,available,availableText,sold,lastUpdated,itemLocation
0,Carolina Herrera,Good Girl by Carolina Herrera 2.7 oz Eau De Pa...,Eau de Parfum,43.99,US $43.99/ea,2.0,2 available / 393 sold,393.0,"May 23, 2024 10:43:50 PDT","Thomasville, Alabama, United States"
1,As Shown,Parfums de Marly Delina La Rosee Eau de Parfum...,Eau de Parfum,79.99,US $79.99,5.0,5 available / 40 sold,40.0,"May 24, 2024 00:15:48 PDT","New Jersey, Hong Kong"
2,PRADA,PRADA Paradoxe by Prada EDP 3.0oz/90ml Spray P...,Eau de Parfum,59.99,US $59.99,10.0,More than 10 available / 35 sold,35.0,"May 14, 2024 20:54:25 PDT","Orange, New Jersey, United States"
3,As Show,J'adore Parfum D'eau by Christian 3.4 oz EDP F...,Eau de Parfum,59.99,US $59.99/ea,10.0,More than 10 available / 9 sold,9.0,"May 23, 2024 01:23:05 PDT","USA, New Jersey, Hong Kong"
4,Khadlaj,Shiyaaka for Men EDP Spray 100ML (3.4 FL.OZ) B...,Eau de Parfum,29.99,US $29.99/ea,10.0,More than 10 available,NaN,NaN,"Little Ferry, New Jersey, United States"
...,...,...,...,...,...,...,...,...,...,...
995,Avon,Avon Far Away Infinity Eau de Parfum 1.7 fl. o...,Eau de Parfum,13.89,US $13.89,10.0,More than 10 available / 157 sold,157.0,"May 16, 2024 22:35:29 PDT","West Palm Beach, Florida, United States"
996,Mancera,Roses Greedy by Mancera perfume for unisex EDP...,Eau de Parfum,57.85,US $57.85/ea,33.0,33 available / 58 sold,58.0,"May 24, 2024 08:03:11 PDT","Dallas, Texas, United States"
997,Unbranded,"Sweet Tooth Eau de Parfum, Perfume for Women, ...",1,30.96,US $30.96,2.0,2 available / 3 sold,3.0,"May 17, 2024 23:16:41 PDT","New York, New York, United States"
998,Juliette Has A Gun,MMMM BY Juliette Has A Gun perfume for her EDP...,Eau de Perfume,53.99,US $53.99/ea,3.0,3 available / 117 sold,117.0,"May 13, 2024 22:19:34 PDT","Dallas, Texas, United States"
999,Paris Hilton,PARIS HILTON ELECTRIFY for Women Cologne 3.4 o...,Eau de Parfum,14.99,US $14.99/ea,4.0,4 available / 51 sold,51.0,"May 22, 2024 05:44:45 PDT","TX, United States"

In [31]:
df.drop_duplicates(subset=['title', 'type'])

,brand,title,type,price,priceWithCurrency,available,availableText,sold,lastUpdated,itemLocation
0,Carolina Herrera,Good Girl by Carolina Herrera 2.7 oz Eau De Pa...,Eau de Parfum,43.99,US $43.99/ea,2.0,2 available / 393 sold,393.0,"May 23, 2024 10:43:50 PDT","Thomasville, Alabama, United States"
1,As Shown,Parfums de Marly Delina La Rosee Eau de Parfum...,Eau de Parfum,79.99,US $79.99,5.0,5 available / 40 sold,40.0,"May 24, 2024 00:15:48 PDT","New Jersey, Hong Kong"
2,PRADA,PRADA Paradoxe by Prada EDP 3.0oz/90ml Spray P...,Eau de Parfum,59.99,US $59.99,10.0,More than 10 available / 35 sold,35.0,"May 14, 2024 20:54:25 PDT","Orange, New Jersey, United States"
3,As Show,J'adore Parfum D'eau by Christian 3.4 oz EDP F...,Eau de Parfum,59.99,US $59.99/ea,10.0,More than 10 available / 9 sold,9.0,"May 23, 2024 01:23:05 PDT","USA, New Jersey, Hong Kong"
4,Khadlaj,Shiyaaka for Men EDP Spray 100ML (3.4 FL.OZ) B...,Eau de Parfum,29.99,US $29.99/ea,10.0,More than 10 available,NaN,NaN,"Little Ferry, New Jersey, United States"
...,...,...,...,...,...,...,...,...,...,...
995,Avon,Avon Far Away Infinity Eau de Parfum 1.7 fl. o...,Eau de Parfum,13.89,US $13.89,10.0,More than 10 available / 157 sold,157.0,"May 16, 2024 22:35:29 PDT","West Palm Beach, Florida, United States"
996,Mancera,Roses Greedy by Mancera perfume for unisex EDP...,Eau de Parfum,57.85,US $57.85/ea,33.0,33 available / 58 sold,58.0,"May 24, 2024 08:03:11 PDT","Dallas, Texas, United States"
997,Unbranded,"Sweet Tooth Eau de Parfum, Perfume for Women, ...",1,30.96,US $30.96,2.0,2 available / 3 sold,3.0,"May 17, 2024 23:16:41 PDT","New York, New York, United States"
998,Juliette Has A Gun,MMMM BY Juliette Has A Gun perfume for her EDP...,Eau de Perfume,53.99,US $53.99/ea,3.0,3 available / 117 sold,117.0,"May 13, 2024 22:19:34 PDT","Dallas, Texas, United States"
999,Paris Hilton,PARIS HILTON ELECTRIFY for Women Cologne 3.4 o...,Eau de Parfum,14.99,US $14.99/ea,4.0,4 available / 51 sold,51.0,"May 22, 2024 05:44:45 PDT","TX, United States"

In [32]:
dropped = df.drop_duplicates()
dropped.iloc[660:665]

,brand,title,type,price,priceWithCurrency,available,availableText,sold,lastUpdated,itemLocation
660,JLO,Glow by J.LO Jennifer Lopez Perfume for Women ...,Eau de Toilette,26.81,US $26.81/ea,NaN,Limited quantity available / 478 sold,478.0,"May 24, 2024 09:37:10 PDT","Dallas, Texas, United States"
661,Gianni Versace,Versace VERSENSE EDT for Women 3.3 / 3.4 oz Ne...,Eau de Toilette,38.76,US $38.76/ea,NaN,Limited quantity available / 401 sold,401.0,"May 02, 2024 11:02:24 PDT","Dallas, Texas, United States"
663,Ainash Perfums,Royal Noir Absolu by Ainash 2.5 oz Extrait de ...,Extrait de Parfum,58.50,US $58.50,10.0,More than 10 available / 3 sold,3.0,NaN,"Miami, Florida, United States"
664,Britney Spears,Curious By Britney Spears Mini EDP Splash Perf...,Eau de Parfum,10.99,US $10.99/ea,8.0,8 available / 6 sold,6.0,"May 24, 2024 08:03:46 PDT","Point Pleasant Beach, New Jersey, United States"
665,LancÃ´me,La Vie Est Belle by Lancome 3.4 oz / 100 ml Sp...,Eau de Parfum,42.99,US $42.99/ea,2.0,2 available / 146 sold,146.0,"May 24, 2024 07:08:11 PDT","Reinholds, Pennsylvania, United States"

In [43]:
df.columns.to_list

<bound method IndexOpsMixin.tolist of Index(['brand', 'title', 'type', 'price', 'pricinCurrency', 'available',
       'availableText', 'sold', 'Location', 'lastUpdated'],
      dtype='object')>

In [44]:
df.columns=['brand', 'title', 'type', 'price', 'pricinCurrency', 'available',
       'availableText', 'sold','Location', 'lastUpdated']

In [45]:
df

,brand,title,type,price,pricinCurrency,available,availableText,sold,Location,lastUpdated
0,Carolina Herrera,Good Girl by Carolina Herrera 2.7 oz Eau De Pa...,Eau de Parfum,43.99,US $43.99/ea,2.0,2 available / 393 sold,393.0,"May 23, 2024 10:43:50 PDT","Thomasville, Alabama, United States"
1,As Shown,Parfums de Marly Delina La Rosee Eau de Parfum...,Eau de Parfum,79.99,US $79.99,5.0,5 available / 40 sold,40.0,"May 24, 2024 00:15:48 PDT","New Jersey, Hong Kong"
2,PRADA,PRADA Paradoxe by Prada EDP 3.0oz/90ml Spray P...,Eau de Parfum,59.99,US $59.99,10.0,More than 10 available / 35 sold,35.0,"May 14, 2024 20:54:25 PDT","Orange, New Jersey, United States"
3,As Show,J'adore Parfum D'eau by Christian 3.4 oz EDP F...,Eau de Parfum,59.99,US $59.99/ea,10.0,More than 10 available / 9 sold,9.0,"May 23, 2024 01:23:05 PDT","USA, New Jersey, Hong Kong"
4,Khadlaj,Shiyaaka for Men EDP Spray 100ML (3.4 FL.OZ) B...,Eau de Parfum,29.99,US $29.99/ea,10.0,More than 10 available,0.0,NaN,"Little Ferry, New Jersey, United States"
...,...,...,...,...,...,...,...,...,...,...
995,Avon,Avon Far Away Infinity Eau de Parfum 1.7 fl. o...,Eau de Parfum,13.89,US $13.89,10.0,More than 10 available / 157 sold,157.0,"May 16, 2024 22:35:29 PDT","West Palm Beach, Florida, United States"
996,Mancera,Roses Greedy by Mancera perfume for unisex EDP...,Eau de Parfum,57.85,US $57.85/ea,33.0,33 available / 58 sold,58.0,"May 24, 2024 08:03:11 PDT","Dallas, Texas, United States"
997,Unbranded,"Sweet Tooth Eau de Parfum, Perfume for Women, ...",1,30.96,US $30.96,2.0,2 available / 3 sold,3.0,"May 17, 2024 23:16:41 PDT","New York, New York, United States"
998,Juliette Has A Gun,MMMM BY Juliette Has A Gun perfume for her EDP...,Eau de Perfume,53.99,US $53.99/ea,3.0,3 available / 117 sold,117.0,"May 13, 2024 22:19:34 PDT","Dallas, Texas, United States"
999,Paris Hilton,PARIS HILTON ELECTRIFY for Women Cologne 3.4 o...,Eau de Parfum,14.99,US $14.99/ea,4.0,4 available / 51 sold,51.0,"May 22, 2024 05:44:45 PDT","TX, United States"

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   brand           999 non-null    object
 1   title           1000 non-null   object
 2   type            998 non-null    object
 3   price           1000 non-null   float64
 4   pricinCurrency  1000 non-null   object
 5   available       1000 non-null   float64
 6   availableText   992 non-null    object
 7   sold            1000 non-null   float64
 8   Location        927 non-null    object
 9   lastUpdated     1000 non-null   object
dtypes: float64(3), object(7)
memory usage: 78.3+ KB

In [40]:
df['available'].fillna(0, inplace=True)

In [42]:
df['sold'].fillna(0, inplace=True)
df['sold'].astype('int')

0      393
1       40
2       35
3        9
4        0
      ...
995    157
996     58
997      3
998    117
999     51
Name: sold, Length: 1000, dtype: int32

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   brand           999 non-null    object
 1   title           1000 non-null   object
 2   type            998 non-null    object
 3   price           1000 non-null   float64
 4   pricinCurrency  1000 non-null   object
 5   available       1000 non-null   float64
 6   availableText   992 non-null    object
 7   sold            1000 non-null   float64
 8   Location        927 non-null    object
 9   lastUpdated     1000 non-null   object
dtypes: float64(3), object(7)
memory usage: 78.3+ KB

In [48]:
df['lastUpdated'].ffill(inplace=True)

In [49]:
df['title'].str.strip()

0      Good Girl by Carolina Herrera 2.7 oz Eau De Pa...
1      Parfums de Marly Delina La Rosee Eau de Parfum...
2      PRADA Paradoxe by Prada EDP 3.0oz/90ml Spray P...
3      J'adore Parfum D'eau by Christian 3.4 oz EDP F...
4      Shiyaaka for Men EDP Spray 100ML (3.4 FL.OZ) B...
                             ...
995    Avon Far Away Infinity Eau de Parfum 1.7 fl. o...
996    Roses Greedy by Mancera perfume for unisex EDP...
997    Sweet Tooth Eau de Parfum, Perfume for Women, ...
998    MMMM BY Juliette Has A Gun perfume for her EDP...
999    PARIS HILTON ELECTRIFY for Women Cologne 3.4 o...
Name: title, Length: 1000, dtype: object

In [92]:
cleaning_df = pd.read_excel('./Data Cleaning Excel Tutorial.xlsx')

In [93]:
cleaning_df

,Unnamed: 0,S.No.,president,prior,party,vice,salary,date updated,date created
0,0,1,George Washington,Commander-in-Chief of the Continental Army ...,Nonpartisan,John Adams,5000,2021-07-14,2012-03-04
1,1,2,john adams,1st Vice President of the United States,Federalist,Thomas Jefferson,10000,2021-07-14,2012-03-04
2,2,3,Thomas Jefferson,2nd Vice President of the United States,Democratic- Republican,Aaron Burr,15000,2021-07-14,2012-03-04
3,3,4,James Madison,5th United States Secretary of State (1801Ã¢...,Democratic- Republican,George Clinton,20000,2021-07-14,2012-03-04
4,4,5,JAMES MONROE,7th United States Secretary of State (1811Ã¢...,Democratic- Republican,Daniel D. Tompkins,25000,2021-07-14,2012-03-04
5,5,6,John Quincy Adams,8th United States Secretary of State (1817Ã¢...,Democratic- Republican,John C. Calhoun,30000,2021-07-14,2012-03-04
6,6,7,Andrew Jackson,U.S. Senator ( Class 2 ) from Tennessee ...,Democratic,John C. Calhoun,35000,2021-07-14,2012-03-04
7,7,8,Martin Van Buren,8th Vice President of the United States,Democratic,Richard Mentor Johnson,40000,2021-07-14,2012-03-04
8,8,9,William Henry Harrison,United States Minister to Colombia (1828Ã¢â‚¬â€œ1...,Whig,John Tyler,45000,2021-07-14,2012-03-04
9,9,10,john tyler,10th Vice President of the United States,"Whig April 4, 1841 Ã¢â‚¬â€œ September 13, 1841",Office vacant,50000,2021-07-14,2012-03-04
10,10,11,James K. Polk,9th Governor of Tennessee (1839Ã¢â‚¬â€œ1841),Democratic,George M. Dallas,55000,2021-07-14,2012-03-04
11,11,12,Zachary Taylor,Major General of the 1st Infantry Regiment ...,Whig,Millard Fillmore,60000,2021-07-14,2012-03-04
12,12,13,Millard Fillmore,12th Vice President of the United States,Whig,Office vacant,65000,2021-07-14,2012-03-04
13,13,14,Franklin Pierce,Brigadier General of the 9th Infantry Unit...,Democratic,William R. King,75000,2021-07-14,2012-03-04
14,14,15,James Buchanan,United States Minister to the Court of St J...,Democratic,John C. Breckinridge,85000,2021-07-14,2012-03-04
15,15,16,Abraham Lincoln,U.S. Representative for Illinois' 7th Distri...,Republican,Hannibal Hamlin,95000,2021-07-14,2012-03-04
16,16,17,Andrew Johnson,16th Vice President of the United States,Democratic,Office vacant,105000,2021-07-14,2012-03-04
17,17,18,Ulysses S. Grant,Commanding General of the U.S. Army ( 1864Ã¢...,Republican,Schuyler Colfax,115000,2021-07-14,2012-03-04
18,18,19,Rutherford B. Hayes,29th & 32nd Governor of Ohio (1868Ã¢â‚¬â€œ1872 &...,Republican,William A. Wheeler,125000,2021-07-14,2012-03-04
19,19,20,James A. Garfield,U.S. Representative for Ohio's 19th District...,Republican,Chester A. Arthur,135000,2021-07-14,2012-03-04
20,20,21,Chester A. Arthur,20th Vice President of the United States,Republican,Office vacant,145000,2021-07-14,2012-03-04
21,21,22,Grover Cleveland,28th Governor of New York (1883Ã¢â‚¬â€œ1885),Democratic,Thomas A. Hendricks,155000,2021-07-14,2012-03-04
22,22,23,Benjamin Harrison,U.S. Senator ( Class 1 ) from Indiana (...,Republican,Levi P. Morton,165000,2021-07-14,2012-03-04
23,23,24,Grover Cleveland,22nd President of the United States (1885Ã¢â‚¬...,Democratic,Adlai Stevenson,175000,2021-07-14,2012-03-04
24,24,25,William McKinley,39th Governor of Ohio (1892Ã¢â‚¬â€œ1896),Republican,Garret Hobart,185000,2021-07-14,2012-03-04
25,25,26,Theodore Roosevelt,25th Vice President of the United States,Republican,Office vacant,195000,2021-07-14,2012-03-04
26,26,27,William Howard Taft,42nd United States Secretary of War (1904Ã¢â‚¬...,Republican,James S. Sherman,205000,2021-07-14,2012-03-04
27,27,28,Woodrow Wilson,34th Governor of New Jersey (1911Ã¢â‚¬â€œ1913),Democratic,Thomas R. Marshall,225000,2021-07-14,2012-03-04
28,27,28,Woodrow Wilson,34th Governor of New Jersey (1911Ã¢â‚¬â€œ1913),Demorcatic,Thomas R. Marshall,225000,2021-07-14,2012-03-04
29,28,29,Warren G. Harding,U.S. Senator ( Class 3 ) from Ohio (191...,Republican,Calvin Coolidge,235000,2021-07-14,2012-03-04
30,29,30,Calvin Coolidge,29th Vice President of the United States,Republican,Office vacant,245000,2021-07-14,2012-03-04
31,30,31,Herbert Hoover,3rd United States Secretary of Commerce (19...,Republican,Charles Curtis,255000,2021-07-14,2012-03-04
32,31,32,Franklin D. Roosevelt,44th Governor of New York ( 1929Ã¢â‚¬â€œ1932 ),Democratic,John Nance Garner,265000,2021-07-14,2012-03-04
33,32,33,Harry S. Truman,34th Vice President of the United States,Democratic,Office vacant,275000,2021-07-14,2012-03-04
34,33,34,Dwight D. Eisenhower,Supreme Allied Commander Europe ( 1949Ã¢â‚¬â€œ1952 ),Republican,Richard Nixon,285000,2021-07-14,2012-03-04
35,34,35,John F. Kennedy,U.S. Senator ( Class 1 ) from Massachuset...,Democratic,Lyndon B. Johnson,295000,2021-07-14,2012-03-04
36,35,36,Lyndon B. Johnson,37th Vice President of the United States,Democratic,Office vacant,305000,2021-07-14,2012-03-04
37,36,37,Richard Nixon,36th Vice President of the United States (1...,Republican,Spiro Agnew,315000,2021-07-14,2012-03-04
38,37,38,Gerald Ford,40th Vice President of the United States,Republican,Office vacant,325000,2021-07-14,2012-03-04
39,38,39,Jimmy Carter,76th Governor of Georgia (1971Ã¢â‚¬â€œ1975),Democratic,Walter Mondale,335000,2021-07-14,2012-03-04
40,39,40,Ronald Reagan,33rd Governor of California ( 1967Ã¢â‚¬â€œ1975 ),Republican,George H. W. Bush,345000,2021-07-14,2012-03-04
41,40,41,George H. W. Bush,43rd Vice President of the United States,Republican,Dan Quayle,355000,2021-07-14,2012-03-04
42,41,42,Bill Clinton,40th & 42nd Governor of Arkansas (1979Ã¢â‚¬â€œ19...,Democratic,Al Gore,365000,2021-07-14,2012-03-04
43,42,43,George W. Bush,46th Governor of Texas ( 1995Ã¢â‚¬â€œ2000 ),Republican,Dick Cheney,375000,2021-07-14,2012-03-04
44,43,44,Barack Obama,U.S. Senator ( Class 3 ) from Illinois ...,Democratic,Joe Biden,395000,2021-07-14,2020-02-01
45,43,44,Barack Obama,U.S. Senator ( Class 3 ) from Illinois ...,Democratic,Joe Biden,395000,2021-07-14,2020-02-01
46,44,45,Donald Trump,Chairman of The Trump Organization ( 1971Ã¢...,Republicans,Mike Pence,405000,2021-07-14,2020-02-01

In [95]:
cleaning_df.columns

Index(['Unnamed: 0', 'S.No.', 'president', 'prior', 'party', 'vice', 'salary',
       'date updated', 'date created'],
      dtype='object')

In [96]:
cleaning_df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [97]:
cleaning_df

,S.No.,president,prior,party,vice,salary,date updated,date created
0,1,George Washington,Commander-in-Chief of the Continental Army ...,Nonpartisan,John Adams,5000,2021-07-14,2012-03-04
1,2,john adams,1st Vice President of the United States,Federalist,Thomas Jefferson,10000,2021-07-14,2012-03-04
2,3,Thomas Jefferson,2nd Vice President of the United States,Democratic- Republican,Aaron Burr,15000,2021-07-14,2012-03-04
3,4,James Madison,5th United States Secretary of State (1801Ã¢...,Democratic- Republican,George Clinton,20000,2021-07-14,2012-03-04
4,5,JAMES MONROE,7th United States Secretary of State (1811Ã¢...,Democratic- Republican,Daniel D. Tompkins,25000,2021-07-14,2012-03-04
5,6,John Quincy Adams,8th United States Secretary of State (1817Ã¢...,Democratic- Republican,John C. Calhoun,30000,2021-07-14,2012-03-04
6,7,Andrew Jackson,U.S. Senator ( Class 2 ) from Tennessee ...,Democratic,John C. Calhoun,35000,2021-07-14,2012-03-04
7,8,Martin Van Buren,8th Vice President of the United States,Democratic,Richard Mentor Johnson,40000,2021-07-14,2012-03-04
8,9,William Henry Harrison,United States Minister to Colombia (1828Ã¢â‚¬â€œ1...,Whig,John Tyler,45000,2021-07-14,2012-03-04
9,10,john tyler,10th Vice President of the United States,"Whig April 4, 1841 Ã¢â‚¬â€œ September 13, 1841",Office vacant,50000,2021-07-14,2012-03-04
10,11,James K. Polk,9th Governor of Tennessee (1839Ã¢â‚¬â€œ1841),Democratic,George M. Dallas,55000,2021-07-14,2012-03-04
11,12,Zachary Taylor,Major General of the 1st Infantry Regiment ...,Whig,Millard Fillmore,60000,2021-07-14,2012-03-04
12,13,Millard Fillmore,12th Vice President of the United States,Whig,Office vacant,65000,2021-07-14,2012-03-04
13,14,Franklin Pierce,Brigadier General of the 9th Infantry Unit...,Democratic,William R. King,75000,2021-07-14,2012-03-04
14,15,James Buchanan,United States Minister to the Court of St J...,Democratic,John C. Breckinridge,85000,2021-07-14,2012-03-04
15,16,Abraham Lincoln,U.S. Representative for Illinois' 7th Distri...,Republican,Hannibal Hamlin,95000,2021-07-14,2012-03-04
16,17,Andrew Johnson,16th Vice President of the United States,Democratic,Office vacant,105000,2021-07-14,2012-03-04
17,18,Ulysses S. Grant,Commanding General of the U.S. Army ( 1864Ã¢...,Republican,Schuyler Colfax,115000,2021-07-14,2012-03-04
18,19,Rutherford B. Hayes,29th & 32nd Governor of Ohio (1868Ã¢â‚¬â€œ1872 &...,Republican,William A. Wheeler,125000,2021-07-14,2012-03-04
19,20,James A. Garfield,U.S. Representative for Ohio's 19th District...,Republican,Chester A. Arthur,135000,2021-07-14,2012-03-04
20,21,Chester A. Arthur,20th Vice President of the United States,Republican,Office vacant,145000,2021-07-14,2012-03-04
21,22,Grover Cleveland,28th Governor of New York (1883Ã¢â‚¬â€œ1885),Democratic,Thomas A. Hendricks,155000,2021-07-14,2012-03-04
22,23,Benjamin Harrison,U.S. Senator ( Class 1 ) from Indiana (...,Republican,Levi P. Morton,165000,2021-07-14,2012-03-04
23,24,Grover Cleveland,22nd President of the United States (1885Ã¢â‚¬...,Democratic,Adlai Stevenson,175000,2021-07-14,2012-03-04
24,25,William McKinley,39th Governor of Ohio (1892Ã¢â‚¬â€œ1896),Republican,Garret Hobart,185000,2021-07-14,2012-03-04
25,26,Theodore Roosevelt,25th Vice President of the United States,Republican,Office vacant,195000,2021-07-14,2012-03-04
26,27,William Howard Taft,42nd United States Secretary of War (1904Ã¢â‚¬...,Republican,James S. Sherman,205000,2021-07-14,2012-03-04
27,28,Woodrow Wilson,34th Governor of New Jersey (1911Ã¢â‚¬â€œ1913),Democratic,Thomas R. Marshall,225000,2021-07-14,2012-03-04
28,28,Woodrow Wilson,34th Governor of New Jersey (1911Ã¢â‚¬â€œ1913),Demorcatic,Thomas R. Marshall,225000,2021-07-14,2012-03-04
29,29,Warren G. Harding,U.S. Senator ( Class 3 ) from Ohio (191...,Republican,Calvin Coolidge,235000,2021-07-14,2012-03-04
30,30,Calvin Coolidge,29th Vice President of the United States,Republican,Office vacant,245000,2021-07-14,2012-03-04
31,31,Herbert Hoover,3rd United States Secretary of Commerce (19...,Republican,Charles Curtis,255000,2021-07-14,2012-03-04
32,32,Franklin D. Roosevelt,44th Governor of New York ( 1929Ã¢â‚¬â€œ1932 ),Democratic,John Nance Garner,265000,2021-07-14,2012-03-04
33,33,Harry S. Truman,34th Vice President of the United States,Democratic,Office vacant,275000,2021-07-14,2012-03-04
34,34,Dwight D. Eisenhower,Supreme Allied Commander Europe ( 1949Ã¢â‚¬â€œ1952 ),Republican,Richard Nixon,285000,2021-07-14,2012-03-04
35,35,John F. Kennedy,U.S. Senator ( Class 1 ) from Massachuset...,Democratic,Lyndon B. Johnson,295000,2021-07-14,2012-03-04
36,36,Lyndon B. Johnson,37th Vice President of the United States,Democratic,Office vacant,305000,2021-07-14,2012-03-04
37,37,Richard Nixon,36th Vice President of the United States (1...,Republican,Spiro Agnew,315000,2021-07-14,2012-03-04
38,38,Gerald Ford,40th Vice President of the United States,Republican,Office vacant,325000,2021-07-14,2012-03-04
39,39,Jimmy Carter,76th Governor of Georgia (1971Ã¢â‚¬â€œ1975),Democratic,Walter Mondale,335000,2021-07-14,2012-03-04
40,40,Ronald Reagan,33rd Governor of California ( 1967Ã¢â‚¬â€œ1975 ),Republican,George H. W. Bush,345000,2021-07-14,2012-03-04
41,41,George H. W. Bush,43rd Vice President of the United States,Republican,Dan Quayle,355000,2021-07-14,2012-03-04
42,42,Bill Clinton,40th & 42nd Governor of Arkansas (1979Ã¢â‚¬â€œ19...,Democratic,Al Gore,365000,2021-07-14,2012-03-04
43,43,George W. Bush,46th Governor of Texas ( 1995Ã¢â‚¬â€œ2000 ),Republican,Dick Cheney,375000,2021-07-14,2012-03-04
44,44,Barack Obama,U.S. Senator ( Class 3 ) from Illinois ...,Democratic,Joe Biden,395000,2021-07-14,2020-02-01
45,44,Barack Obama,U.S. Senator ( Class 3 ) from Illinois ...,Democratic,Joe Biden,395000,2021-07-14,2020-02-01
46,45,Donald Trump,Chairman of The Trump Organization ( 1971Ã¢...,Republicans,Mike Pence,405000,2021-07-14,2020-02-01

In [98]:
cleaning_df.columns = ['S.No.', 'President', 'Prior', 'Party', 'Vice', 'Salary',
       'Date updated', 'Date created']

In [99]:
cleaning_df

,S.No.,President,Prior,Party,Vice,Salary,Date updated,Date created
0,1,George Washington,Commander-in-Chief of the Continental Army ...,Nonpartisan,John Adams,5000,2021-07-14,2012-03-04
1,2,john adams,1st Vice President of the United States,Federalist,Thomas Jefferson,10000,2021-07-14,2012-03-04
2,3,Thomas Jefferson,2nd Vice President of the United States,Democratic- Republican,Aaron Burr,15000,2021-07-14,2012-03-04
3,4,James Madison,5th United States Secretary of State (1801Ã¢...,Democratic- Republican,George Clinton,20000,2021-07-14,2012-03-04
4,5,JAMES MONROE,7th United States Secretary of State (1811Ã¢...,Democratic- Republican,Daniel D. Tompkins,25000,2021-07-14,2012-03-04
5,6,John Quincy Adams,8th United States Secretary of State (1817Ã¢...,Democratic- Republican,John C. Calhoun,30000,2021-07-14,2012-03-04
6,7,Andrew Jackson,U.S. Senator ( Class 2 ) from Tennessee ...,Democratic,John C. Calhoun,35000,2021-07-14,2012-03-04
7,8,Martin Van Buren,8th Vice President of the United States,Democratic,Richard Mentor Johnson,40000,2021-07-14,2012-03-04
8,9,William Henry Harrison,United States Minister to Colombia (1828Ã¢â‚¬â€œ1...,Whig,John Tyler,45000,2021-07-14,2012-03-04
9,10,john tyler,10th Vice President of the United States,"Whig April 4, 1841 Ã¢â‚¬â€œ September 13, 1841",Office vacant,50000,2021-07-14,2012-03-04
10,11,James K. Polk,9th Governor of Tennessee (1839Ã¢â‚¬â€œ1841),Democratic,George M. Dallas,55000,2021-07-14,2012-03-04
11,12,Zachary Taylor,Major General of the 1st Infantry Regiment ...,Whig,Millard Fillmore,60000,2021-07-14,2012-03-04
12,13,Millard Fillmore,12th Vice President of the United States,Whig,Office vacant,65000,2021-07-14,2012-03-04
13,14,Franklin Pierce,Brigadier General of the 9th Infantry Unit...,Democratic,William R. King,75000,2021-07-14,2012-03-04
14,15,James Buchanan,United States Minister to the Court of St J...,Democratic,John C. Breckinridge,85000,2021-07-14,2012-03-04
15,16,Abraham Lincoln,U.S. Representative for Illinois' 7th Distri...,Republican,Hannibal Hamlin,95000,2021-07-14,2012-03-04
16,17,Andrew Johnson,16th Vice President of the United States,Democratic,Office vacant,105000,2021-07-14,2012-03-04
17,18,Ulysses S. Grant,Commanding General of the U.S. Army ( 1864Ã¢...,Republican,Schuyler Colfax,115000,2021-07-14,2012-03-04
18,19,Rutherford B. Hayes,29th & 32nd Governor of Ohio (1868Ã¢â‚¬â€œ1872 &...,Republican,William A. Wheeler,125000,2021-07-14,2012-03-04
19,20,James A. Garfield,U.S. Representative for Ohio's 19th District...,Republican,Chester A. Arthur,135000,2021-07-14,2012-03-04
20,21,Chester A. Arthur,20th Vice President of the United States,Republican,Office vacant,145000,2021-07-14,2012-03-04
21,22,Grover Cleveland,28th Governor of New York (1883Ã¢â‚¬â€œ1885),Democratic,Thomas A. Hendricks,155000,2021-07-14,2012-03-04
22,23,Benjamin Harrison,U.S. Senator ( Class 1 ) from Indiana (...,Republican,Levi P. Morton,165000,2021-07-14,2012-03-04
23,24,Grover Cleveland,22nd President of the United States (1885Ã¢â‚¬...,Democratic,Adlai Stevenson,175000,2021-07-14,2012-03-04
24,25,William McKinley,39th Governor of Ohio (1892Ã¢â‚¬â€œ1896),Republican,Garret Hobart,185000,2021-07-14,2012-03-04
25,26,Theodore Roosevelt,25th Vice President of the United States,Republican,Office vacant,195000,2021-07-14,2012-03-04
26,27,William Howard Taft,42nd United States Secretary of War (1904Ã¢â‚¬...,Republican,James S. Sherman,205000,2021-07-14,2012-03-04
27,28,Woodrow Wilson,34th Governor of New Jersey (1911Ã¢â‚¬â€œ1913),Democratic,Thomas R. Marshall,225000,2021-07-14,2012-03-04
28,28,Woodrow Wilson,34th Governor of New Jersey (1911Ã¢â‚¬â€œ1913),Demorcatic,Thomas R. Marshall,225000,2021-07-14,2012-03-04
29,29,Warren G. Harding,U.S. Senator ( Class 3 ) from Ohio (191...,Republican,Calvin Coolidge,235000,2021-07-14,2012-03-04
30,30,Calvin Coolidge,29th Vice President of the United States,Republican,Office vacant,245000,2021-07-14,2012-03-04
31,31,Herbert Hoover,3rd United States Secretary of Commerce (19...,Republican,Charles Curtis,255000,2021-07-14,2012-03-04
32,32,Franklin D. Roosevelt,44th Governor of New York ( 1929Ã¢â‚¬â€œ1932 ),Democratic,John Nance Garner,265000,2021-07-14,2012-03-04
33,33,Harry S. Truman,34th Vice President of the United States,Democratic,Office vacant,275000,2021-07-14,2012-03-04
34,34,Dwight D. Eisenhower,Supreme Allied Commander Europe ( 1949Ã¢â‚¬â€œ1952 ),Republican,Richard Nixon,285000,2021-07-14,2012-03-04
35,35,John F. Kennedy,U.S. Senator ( Class 1 ) from Massachuset...,Democratic,Lyndon B. Johnson,295000,2021-07-14,2012-03-04
36,36,Lyndon B. Johnson,37th Vice President of the United States,Democratic,Office vacant,305000,2021-07-14,2012-03-04
37,37,Richard Nixon,36th Vice President of the United States (1...,Republican,Spiro Agnew,315000,2021-07-14,2012-03-04
38,38,Gerald Ford,40th Vice President of the United States,Republican,Office vacant,325000,2021-07-14,2012-03-04
39,39,Jimmy Carter,76th Governor of Georgia (1971Ã¢â‚¬â€œ1975),Democratic,Walter Mondale,335000,2021-07-14,2012-03-04
40,40,Ronald Reagan,33rd Governor of California ( 1967Ã¢â‚¬â€œ1975 ),Republican,George H. W. Bush,345000,2021-07-14,2012-03-04
41,41,George H. W. Bush,43rd Vice President of the United States,Republican,Dan Quayle,355000,2021-07-14,2012-03-04
42,42,Bill Clinton,40th & 42nd Governor of Arkansas (1979Ã¢â‚¬â€œ19...,Democratic,Al Gore,365000,2021-07-14,2012-03-04
43,43,George W. Bush,46th Governor of Texas ( 1995Ã¢â‚¬â€œ2000 ),Republican,Dick Cheney,375000,2021-07-14,2012-03-04
44,44,Barack Obama,U.S. Senator ( Class 3 ) from Illinois ...,Democratic,Joe Biden,395000,2021-07-14,2020-02-01
45,44,Barack Obama,U.S. Senator ( Class 3 ) from Illinois ...,Democratic,Joe Biden,395000,2021-07-14,2020-02-01
46,45,Donald Trump,Chairman of The Trump Organization ( 1971Ã¢...,Republicans,Mike Pence,405000,2021-07-14,2020-02-01

In [100]:
cleaning_df['President'].str.strip()

0          George Washington
1                 john adams
2           Thomas Jefferson
3              James Madison
4               JAMES MONROE
5          John Quincy Adams
6             Andrew Jackson
7           Martin Van Buren
8     William Henry Harrison
9                 john tyler
10             James K. Polk
11            Zachary Taylor
12          Millard Fillmore
13           Franklin Pierce
14            James Buchanan
15           Abraham Lincoln
16            Andrew Johnson
17          Ulysses S. Grant
18       Rutherford B. Hayes
19         James A. Garfield
20         Chester A. Arthur
21          Grover Cleveland
22         Benjamin Harrison
23          Grover Cleveland
24          William McKinley
25        Theodore Roosevelt
26       William Howard Taft
27            Woodrow Wilson
28            Woodrow Wilson
29         Warren G. Harding
30           Calvin Coolidge
31            Herbert Hoover
32     Franklin D. Roosevelt
33           Harry S. Truman
34      Dwight D. Eisenhower
35           John F. Kennedy
36         Lyndon B. Johnson
37             Richard Nixon
38               Gerald Ford
39              Jimmy Carter
40             Ronald Reagan
41         George H. W. Bush
42              Bill Clinton
43            George W. Bush
44              Barack Obama
45              Barack Obama
46              Donald Trump
Name: President, dtype: object

In [101]:
cleaning_df = cleaning_df['President'].str.upper()

In [68]:
cleaning_df

0          GEORGE WASHINGTON
1                 JOHN ADAMS
2           THOMAS JEFFERSON
3              JAMES MADISON
4               JAMES MONROE
5          JOHN QUINCY ADAMS
6             ANDREW JACKSON
7           MARTIN VAN BUREN
8     WILLIAM HENRY HARRISON
9                 JOHN TYLER
10             JAMES K. POLK
11            ZACHARY TAYLOR
12          MILLARD FILLMORE
13           FRANKLIN PIERCE
14            JAMES BUCHANAN
15           ABRAHAM LINCOLN
16            ANDREW JOHNSON
17          ULYSSES S. GRANT
18       RUTHERFORD B. HAYES
19         JAMES A. GARFIELD
20         CHESTER A. ARTHUR
21          GROVER CLEVELAND
22         BENJAMIN HARRISON
23          GROVER CLEVELAND
24          WILLIAM MCKINLEY
25        THEODORE ROOSEVELT
26       WILLIAM HOWARD TAFT
27            WOODROW WILSON
28            WOODROW WILSON
29         WARREN G. HARDING
30           CALVIN COOLIDGE
31            HERBERT HOOVER
32     FRANKLIN D. ROOSEVELT
33           HARRY S. TRUMAN
34      DWIGHT D. EISENHOWER
35           JOHN F. KENNEDY
36         LYNDON B. JOHNSON
37             RICHARD NIXON
38               GERALD FORD
39              JIMMY CARTER
40             RONALD REAGAN
41         GEORGE H. W. BUSH
42              BILL CLINTON
43            GEORGE W. BUSH
44              BARACK OBAMA
45              BARACK OBAMA
46              DONALD TRUMP
Name: President, dtype: object